
.OverviewBotmLeft{
  max-width: 50%;
  width: 100%;
  padding: 32px;
  background: #FFFFFF;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
}
.OverviewBotmLeft__header{
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
}
.OverviewBotmLeftCard__item{
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(223, 224, 235, 1);
}
.OverviewBotmLeft__headerLeft > h3{
   font-size: 19px;
   line-height: 24px;
   letter-spacing: 0.4px;
   color: #252733;
}
.OverviewBotmLeft__headerLeft > p{
   font-size: 12px;
   line-height: 16px;
   letter-spacing: 0.1px;
   color: #9FA2B4;
}
.OverviewBotmLeft__header > p{
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #3751FF;
}